{{- define "gorestful_makefile" -}}
SERVICE_NAME = $(shell basename {{.RootImportPath}})
PACKAGES = $(shell go list ./... | grep -v '/vendor/' | grep -v '/delegate' | grep -v '/goraml' | grep -v '${SERVICE_NAME}/service' | grep -v '/types' | grep -v '/message' | grep -v '/beans' | grep -v '/dao' | grep -v '/typeconv')

BUILD_DATE = $(shell date +%FT%T%z)
ZIP_DATE = $(shell date +"%Y%m%d.%H%M%S")

COMMIT_HASH = $(shell git rev-parse --short HEAD 2>/dev/null)
SERVICE_VERSION = $(shell cat VERSION)
GO_VERSION = $(shell go version)
ZIP_NAME = $(SERVICE_NAME)-$(SERVICE_VERSION)

LDFLAGS = -X main.Version=$(SERVICE_VERSION) -X main.CommitHash=$(COMMIT_HASH) -X main.BuildDate=$(BUILD_DATE) -X "main.GoVersion=${GO_VERSION}" -s -w

all: build test zip

build: server

server:
	go generate
	go mod tidy
	go build -v -ldflags '$(LDFLAGS)'
	mv -f $(SERVICE_NAME) ../runtime/bin

clean:
	rm -rf delegate
	rm -rf goraml
	rm -rf service
	rm -rf types
	rm -rf message
	rm ../runtime/bin/$(SERVICE_NAME)

test:
	go test $(PACKAGES)

zip: build
	cd .. && tar -zcvf dist/$(ZIP_NAME).$(ZIP_DATE).tgz -s /runtime/$(ZIP_NAME)/g --exclude .gitignore runtime

{{end -}}
