{{- define "gorestful_makefile" -}}
PACKAGES = $(shell go list ./... | grep -v '/vendor/' | grep -v '/delegate' | grep -v '/goraml' | grep -v '/service' | grep -v '/types')

SERVICE_NAME = $(shell basename {{.RootImportPath}})

BUILD_DATE = $(shell date +%FT%T%z)
BUILD = $(shell date -d "$(BUILD_DATE)" +%Y%m%d.%H%M%S)

COMMIT_HASH = $(shell git rev-parse --short HEAD 2>/dev/null)
SERVICE_VERSION = $(shell cat VERSION)
GO_VERSION = $(shell go version)

LDFLAGS = -X main.Version=$(SERVICE_VERSION) -X main.CommitHash=$(COMMIT_HASH) -X main.BuildDate=$(BUILD_DATE) -X "main.GoVersion=${GO_VERSION}" -s -w

all: build test zip

build:
	go generate
	go build -v -ldflags '$(LDFLAGS)'
	mv -f $(SERVICE_NAME) ../runtime/bin

clean:
	rm -rf delegate
	rm -rf goraml
	rm -rf service
	rm -rf types
	rm ../runtime/bin/$(SERVICE_NAME)

test:
	go test $(PACKAGES) -args -p ../runtime

zip: build
	cd ../runtime && zip -r ../dist/$(SERVICE_NAME)-$(SERVICE_VERSION).$(BUILD).zip .

{{end -}}
