{{- define "gorestful_error_template" -}}
package types

type Error struct {
    error `json:"error"`
    Status int `json:"status"`
}

func NewError(status int, err error) *Error {
	return &Error{
		error:  err,
		Status: status,
	}
}

{{- end -}}
