{{- define "requirements_python" -}}
# THIS FILE IS SAFE TO EDIT. It will not be overwritten when rerunning go-raml.

{{ if .Gevent -}}
gevent==1.2.2
{{- end }}
Flask==2.0.2
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.2
itsdangerous==2.0.1
jsonschema==2.6.0
six==1.11.0
python-jose==2.0.2
click==8.0.3
ecdsa==0.13
future==0.16.0
python-dateutil==2.8.2
gunicorn==20.1.0
{{end -}}
